# === PostgreSQL 設定 ===
PG_HOST=
PG_PORT=
PG_USER=
PG_PASSWORD=
PG_NAME=

# === MinIO 設定 ===
USE_MINIO=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=

# === OpenAI APIKEY ===
OPENAI_API_KEY=

# === Gemini APIKEY ===
GEMINI_API_KEY=